@import url('./components/gamePage.css');

/* basic css and root varaibles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: black;
  --secondary: white;
  --red: red;
}

body {
  background-color: var(--main);
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}
