/* notification */
#notification {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 95%;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px;
  color: var(--main);
  background-color: var(--secondary);
  text-align: center;
  z-index: 9999;
}

#notification.warning {
  color: var(--secondary);
  background-color: var(--red);
}

#notification.active {
  display: flex;
  animation: notification 0.3s ease-out;
}

@keyframes notification {
  0% {
    opacity: 0.5;
    transform: translateX(-50%) translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
}
