#target-profile {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 345px;
  max-width: 80%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(29, 29, 29, 1));
  border: 1px solid var(--border);
  overflow: hidden;
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.7);
  --avatar-translate-x: -20%;
  --avatar-scale: 1.45;
  --picture-translate-x: 0%;
  --picture-scale: 1.05;
  z-index: 20 !important;
}

#target-profile.active {
  display: block;
  animation: profile-dealIn 0.3s ease-in-out forwards;
}

/* append to #app */
.items-display {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  gap: 9px;
  transform: translate(-40%, -57%);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(28, 28, 28, 0.9)
  );
  height: 450px;
  width: 300px;
  max-width: 100%;
  padding: 12px;
  border: 2px solid var(--red);
  border-radius: 3px;
  z-index: 20;
  overflow-y: scroll;
  scrollbar-color: var(--red) transparent;
  cursor: default;
}
.items-display .item-div {
  width: 100%;
  pointer-events: none;
}

.items-display .item-div:hover {
  scale: 1;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid black;
}

#target-profile .items-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 15px 15px auto;
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid var(--border);
  transition: all 0s;
}

#target-profile .items-btn:hover {
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid var(--border);
  transform: scale(1);
}

#target-profile .items-btn.active {
  background-color: var(--red);
  border: 1px solid var(--red);
}

#target-profile .items-btn i {
  text-align: center;
  font-size: 0.9rem;
  border: 2px solid var(--secondary);
  padding: 2px 2px;
}

.target-profile-top {
  position: relative;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid var(--border);
  overflow: hidden;
}

.target-profile-avatar {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% -5%;
  animation: avatar-subtleShake 2.5s infinite ease-in-out;
  overflow: hidden;
}

.target-profile-top::after {
  content: '';
  position: absolute;
  inset: -100%;
  background-image: url('../../assets/images/noise.png');
  opacity: 0.08;
  animation: noise 0.2s linear infinite both;
  pointer-events: none;
}

.target-profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 10px 0px 10px;
  font-size: 1rem;
}

.target-profile-rank {
  position: absolute;
  display: flex;
  top: -40px;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
}

.target-profile-rank i {
  text-align: center;
  font-size: 0.9rem;
  border: 2px solid var(--secondary);
  padding: 5px 3px;
}

#target-profile .status-string {
  font-weight: bold;
  font-family: monospace;
}

#target-profile-stats {
  padding: 0px 5px;
  min-height: 80px;
}

.target-profile-buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding: 8px 12px;
  padding-bottom: 10px;
}

.target-profile-buttons button {
  min-width: 80px;
  height: 40px;
}

.simulate-percent {
  position: relative;
  flex-grow: 1;
  text-align: center;
  font-size: 1.6rem;
  color: var(--red);
  border-bottom: 2px solid var(--red);
  margin-bottom: 20px;
  font-family: monospace;
  cursor: default;
}
.simulate-percent::after {
  content: 'Success Rate';
  position: absolute;
  bottom: -20px;
  left: 50%;
  font-size: 12px;
  width: 100%;
  color: var(--red);
  transform: translateX(-50%);
}

/* player */
#target-profile.player .target-profile-buttons {
  display: none;
}

#target-profile.player .target-profile-avatar {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  transform: translateX(-15%) scale(1.3);
}

/* close button */
#target-profile .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 34px;
  height: 34px;
  opacity: 0.3;
  border: none;
  outline: none;
  color: var(--secondary);
}
#target-profile .close:hover {
  opacity: 0.8;
  transform: scale(0.9);
  background-color: var(--main);
}

/* dead target */
#target-profile.dead .target-profile-avatar {
  display: none;
}

#target-profile.dead .target-profile-top::after {
  opacity: 0.3;
}

#target-profile.dead .target-profile-rank {
  display: none;
}

/* real picture only show when dead */
.target-profile-picture {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -50% 40%;
  filter: grayscale(1) brightness(0.7) contrast(1.4);
  animation: picture-subtleShake 2.5s infinite ease-in-out;
  overflow: hidden;
}

#target-profile.dead .status-string {
  color: var(--red);
}

/* real picture */
#target-profile.dead .target-profile-picture {
  display: block;
}

@keyframes avatar-subtleShake {
  0% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(0.1px, -0.6px) rotate(0.03deg);
  }
  40% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(-0.1px, 0.5px) rotate(-0.02deg);
  }
  60% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(0.05px, -0.7px) rotate(0.02deg);
  }
  80% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(-0.1px, 0.6px) rotate(-0.01deg);
  }
  100% {
    transform: translateX(var(--avatar-translate-x)) scale(var(--avatar-scale))
      translate(0px, 0px) rotate(0deg);
  }
}

@keyframes picture-subtleShake {
  0% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(0.1px, -0.6px) rotate(0.03deg);
  }
  40% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(-0.1px, 0.5px) rotate(-0.02deg);
  }
  60% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(0.05px, -0.7px) rotate(0.02deg);
  }
  80% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(-0.1px, 0.6px) rotate(-0.01deg);
  }
  100% {
    transform: translateX(var(--picture-translate-x))
      scale(var(--picture-scale)) translate(0px, 0px) rotate(0deg);
  }
}

@keyframes profile-dealIn {
  0% {
    transform: translate(-48%, -50%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #target-profile {
    top: 100px;
    left: 50%;
    width: 345px;
    max-width: 80%;
    transform: translate(-50%, 0px);
  }
  #target-profile.active {
    animation: none;
  }
  .target-profile-top {
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
  }

  .items-display {
    position: fixed;
    top: 126px;
    left: 50%;
    transform: translate(-41%, 0%);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(5, 4, 4, 0.9)
    );
    height: 400px;
    width: 280px;
  }
}
