.agents-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

#targets-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 651px;
  max-width: 100%;
  padding: 10px;
  height: 100%;
  margin: 30px auto;
  gap: 7px;
}

/* mobile */
@media (max-width: 768px) {
}
