.page.create-page {
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 85%;
  gap: 10px;
  padding-top: 200px;
  text-align: center;
}

.page.create-page .title {
  font-size: 4.2rem;
  text-align: start;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

@media (max-width: 768px) {
  .page.create-page .title {
    font-size: 2.6rem;
  }
}
