.page.login-page {
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 100%;
  gap: 10px;
  padding-top: 200px;
}

.page.login-page .title {
  font-size: 4rem;
  text-align: start;
  line-height: 4.2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}


@media (max-width: 768px) {
  .page.login-page .title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
